@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Главная */

/* .page-header {

} */

.container {
  display: flex;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation {
  width: 385px;
  margin-right: 78px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 19px;
  list-style: none;
}

/* .navigation-item {
} */

.navigation-link {
  margin-right: 33px;
  text-decoration: none;
  color: #000000;
}

.navigation-link:nth-child(3) {
  margin-right: 0;
}

/* .active {
} */

.logo {
  display: block;
  width: 138px;
  height: 70px;
}

.user-navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 320px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  list-style: none;
}

.user-navigation-link {
  text-decoration: none;
  color: #000000;
}

.search,
.favourites {
  width: 18px;
  height: 18px;
}

.search {
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.favourites {
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.popup-btn {
  display: block;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-navigation-item {
  padding: 0;
  margin: 0;
  margin-right: 21px;
  margin-left: auto;
}

.user-navigation-item + .user-navigation-item {
  margin-left: 0;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

/* .main {
} */

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-right: 371px;
  padding-bottom: 82px;
  padding-left: 371px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .hero img {

} */

.advantages {
  padding-top: 63px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.section-title {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  width: 720px;
  padding-bottom: 79px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-title {
  margin-bottom: 23px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.special-feature {
  flex-direction: row-reverse;
  width: 100%;
  background-color: #83b3d3;
}

.apartment,
.souvenirs,
.territory,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.meal {
  background-color: #ffffff;
}

.features-item {
  display: flex;
}

.features-info {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 98px;
  padding-bottom: 77px;
}

.features-info span {
  margin: 0 auto;
}

.features-image img {
  display: block;
  height: 100%;
}

.item-title {
  padding: 0 110px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.item-text {
  width: 250px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.text-color {
  background-color: #83b3d3;
  color: #ffffff;
}

/* .features-image {
} */

.hotel-search {
  padding-top: 91px;
  padding-bottom: 91px;
}

.search-title {
  margin-bottom: 15px;
}

.section-text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotel-button {
  display: block;
  width: 575px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.subscription {
  padding-top: 94px;
  padding-bottom: 93px;
  background-image: url("../img/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  margin-bottom: 24px;
  color: #ffffff;
}

.subscription-text {
  width: 720px;
  margin-bottom: 42px;
  color: #ffffff;
}

.subscribe-form {
  display: block;
  text-align: center;
}

.subscribe {
  width: 800px;
  height: 60px;
  margin: 0 auto;
}

.subscribe-form input {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background: #f2f2f2;
}

.button {
  width: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.footer-container {
  align-items: center;
}

.socials-list {
  display: flex;
  width: 190px;
  padding: 0;
  margin-right: 175px;
  list-style-type: none;
}

.socials-item {
  margin-right: 30px;
  cursor: pointer;
}

.social-link {
  width: 18px;
  height: 18px;
  margin-right: 30px;
  text-decoration: none;
}

.tw {
  background-image: url("../img/icons/socials/social-twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.fb {
  background-image: url("../img/icons/socials/social-facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.ytube {
  background-image: url("../img/icons/socials/social-youtube.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.phone {
  width: 360px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.copyright {
  margin-left: auto;
}

/* Страница Гостиницы */

/* .main-inner {
} */

.inner-container {
  width: 1060px;
  margin: 0 auto;
}

.hotels-filter {
  height: 100%;
  padding-bottom: 86px;
  overflow: hidden;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
}

/* .breadcrumbs-item {
} */

.breadcrumbs-link {
  text-decoration: none;
}

.home-link {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 22px;
  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
}

.infrastructure {
  width: 150px;
  margin-right: 67px;
}

.accommodation {
  width: 411px;
}

.cost-wrapper {
  width: 340px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  padding-left: 0;
  list-style-type: none;
}

/* .catalog-filter-item {
} */

/* .control {
} */

/* .control-input {
} */

.control-mark {
  width: 20px;
  height: 20px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-label-min {
  border-right: 2px solid #ffffff;
}

.catalog-filter-label span {
  width: 40px;
  height: 40px;
  opacity: 0.3;
}

.catalog-filter-input {
  width: 100px;
  margin-right: 40px;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.range-toggle-group {
  display: flex;
}

/* .range-toggle {
} */

/* .toggle-min {
} */

/* .toggle-max {
} */

/* .catalog-buttongroup {
  padding-top: 33px;
} */

.apply-button {
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.reset-button {
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.sorting {
  padding-top: 44px;
}

.sorting-result,
.sorting-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-count {
  margin-right: 192px;
}

.select-control {
  width: 287px;
  margin-right: 81px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.view-results {
  width: 48px;
  height: 48px;
}

.table-view {
  background-image: url("../img/icons/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slideshow-view {
  background-image: url("../img/icons/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.list-view {
  background-image: url("../img/icons/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* .catalog {
} */

.search-results {
  padding-left: 0;
  list-style-type: none;
}

.search-results-item {
  display: flex;
  padding: 29px 0;
  border-bottom: 1px solid #000;
}

.search-results-item:first-child {
  border-top: 1px solid #000;
}

.search-results-image {
  margin-right: 37px;
}

.search-results-info {
  width: 320px;
}

.results-info-title {
  margin-top: 0;
}

.results-blocks {
  display: flex;
}

.left-block {
  display: flex;
  flex-direction: column;
}

.more {
  width: 151px;
  margin-right: 8px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.right-block {
  display: flex;
  flex-direction: column;
}

.favorities {
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.in-selected {
  background-color: #7db54f;
}

.search-results-rating {
  margin-left: auto;
}

.stars {
  display: flex;
  justify-content: center;
  width: 91px;
}

.star {
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* .rating-value {
} */

.upload-btn {
  width: 625px;
  margin: 0 auto;
  margin-bottom: 61px;
}

.upload-more {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #83b3d3;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.current {
  background-color: #f2f2f2;
}

.current-link {
  color: #000000;
}

.results-count {
  display: flex;
  margin-left: auto;
  /* width: 386px; */
}

/* .results-count-type {
} */

.catalog-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subscription-inner {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 93px;
  background-color: #ffffff;
}

.inner-subscription-title {
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #000000;
}

.inner-subscription-text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 42px;
  color: #333333;
}

.inner-subscribe-form {
  display: block;
  text-align: center;
}

.inner-subscribe {
  width: 800px;
  height: 60px;
  margin: 0 auto;
}

.inner-subscribe-form input {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background: #f2f2f2;
}

.button {
  width: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
