@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page {
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Главная */

.page-header {
  position: relative;
  min-height: 65px;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  padding-left: 59px;
  padding-right: 70px;
}

.navigation {
  position: relative;
  width: 385px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-item {
  margin: 12px 0;
  margin-right: 10px;
}

.navigation-link {
  padding: 17px 12px;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: none;
  /* box-shadow: 0 0 0 3px #83b3d3; */
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-link:disabled {
  opacity: 0.3;
}

.navigation-link:nth-child(3) {
  margin-right: 0;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  content: "";
  width: calc(100% - 24px);
  height: 2px;
  left: 50%;
  bottom: -19px;
  transform: translateX(-50%);
  background-color: #756257;
}

.logo {
  position: absolute;
  display: block;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.user-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 390px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  list-style: none;
}

.user-navigation-item {
  position: relative;
  display: flex;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 12px 0;
  margin-right: 3px;
  margin-left: auto;
  color: #000000;
}

.user-navigation-item + .user-navigation-item {
  margin-left: 0;
}

.user-navigation-item:last-child {
  width: 160px;
  margin-right: 0;
  margin-left: 21px;
}

.user-navigation-link {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.user-navigation-link:hover {
  color: #756257;
}

.user-navigation-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.user-navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.user-navigation-link:disabled {
  opacity: 0.3;
}

.favourites {
  position: relative;
}

.favourites-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  top: 0;
  left: 21px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  background-color: #7db54f;
  color: #ffffff;
}

.popup-btn {
  display: block;
  width: 160px;
  height: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-btn:hover {
  background-color: #615048;
}

.popup-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #615048;
  border-radius: 4px;
}

.popup-btn:active span {
  opacity: 0.3;
}

.popup-btn:disabled {
  opacity: 0.3;
}

.popup {
  position: absolute;
  top: 35px;
  right: -190px;
  z-index: 10;
  display: none;
  width: 400px;
  min-height: 186px;
  font-family: "PT Sans", sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  color: #000000;
}

.popup::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 9px;
  left: 190px;
  top: -9px;
  background-image: url("../img/icons/triangle.svg");
  box-shadow: 0px -1px 0px #e4e4e4;
}

.popup-open {
  display: block;
}

.popup-content {
  height: 100%;
  padding: 25px 25px 0 25px;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-radius: 20px;
}

.popup-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.popup-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.popup-link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
  text-decoration: none;
}

.popup-link:hover {
  opacity: 0.6;
}

.popup-link:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.popup-link:active {
  opacity: 0.3;
}

.popup-link:disabled {
  opacity: 0.3;
}

.popup-img {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 17px;
  border-radius: 50%;
}

.popup-link-description {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.popup-link-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.popup-link-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.delete-btn {
  width: 45px;
  height: 25px;
  padding: 10px;
  margin-left: auto;
  border: 3px solid transparent;
  background-color: transparent;
  color: #000000;
  opacity: 0.2;
  cursor: pointer;
}

.delete-btn:hover {
  color: #000000;
  opacity: 1;
}

.delete-btn:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.delete-btn:active {
  opacity: 0.3;
}

.delete-btn:disabled {
  opacity: 0.3;
}

.all-favourites-button {
  display: block;
  width: 100%;
  padding: 20px 115px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  background-color: #756257;
  border-radius: 0px 0px 20px 20px;
  color: #ffffff;
}

.all-favourites-button:hover {
  background-color: #615048;
}

.all-favourites-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 0px 0px 20px 20px;
}

.all-favourites-button:active span {
  opacity: 0.3;
}

.all-favourites-button:disabled {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main */

.main-container {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding-top: 51px;
  padding-right: 371px;
  padding-bottom: 82px;
  padding-left: 371px;
  background-color: #83b4d2;
  background-image: url("../img/hero-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages {
  padding-top: 63px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.section-title {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  width: 720px;
  padding-bottom: 79px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-title {
  margin-bottom: 35px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.special-feature {
  flex-direction: row-reverse;
  width: 100%;
  background-color: #83b3d3;
}

.apartment,
.souvenirs,
.territory,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.apartment {
  padding-top: 90px;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.meal {
  background-color: #ffffff;
  padding-top: 92px;
}

.apartment .item-title {
  margin-bottom: -15px;
}

.meal .item-title {
  margin-bottom: -15px;
}

.souvenirs .item-title {
  margin-bottom: -9px;
}

.souvenirs {
  padding-top: 86px;
}

.apartment::before {
  content: "";
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-top: 14px;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.meal::before {
  content: "";
  width: 74px;
  height: 70px;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.souvenirs::before {
  content: "";
  width: 64px;
  height: 76px;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.features-item {
  display: flex;
}

.features-info {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 72px;
  padding-bottom: 82px;
}

.features-info span {
  margin: 0 auto;
}

.features-image img {
  display: block;
  height: 100%;
}

.item-title {
  padding: 0 110px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.item-text {
  width: 250px;
  margin: 0 auto;
  margin-top: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.text-color {
  background-color: #83b3d3;
  color: #ffffff;
}

.hotel-search {
  padding-top: 118px;
  padding-bottom: 88px;
}

.search-title {
  margin-bottom: 31px;
}

.section-text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotel-button {
  display: block;
  width: 575px;
  padding: 15px 145px 15px 145px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.hotel-button:hover {
  background-color: #615048;
}

.hotel-button:focus {
  outline: 3px solid #83b3d3;
}

.hotel-button:active span {
  opacity: 0.3;
}

.hotel-button:disabled {
  opacity: 0.3;
}

.subscription {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #83b4d2;
  background-image: url("../img/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  margin-bottom: 24px;
  color: #ffffff;
}

.subscription-text {
  width: 720px;
  padding: 0 90px;
  margin-bottom: 51px;
  color: #ffffff;
}

.subscribe-form {
  text-align: center;
}

.subscribe {
  display: grid;
  grid-template-columns: 600px 200px;
  width: 800px;
  margin: 0 auto;
}

.subscribe-form input {
  width: 600px;
  height: 60px;
  padding: 5px 22px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
}

.subscribe-form input:hover {
  background-color: #e6e6e6;
  border: 3px solid #e6e6e6;
}

.subscribe-form input:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.subscribe-form input:active {
  background-color: #ffffff;
  border: 2px solid #000000;
  outline: none;
}

.subscribe-form input:disabled {
  opacity: 0.3;
}

.error {
  background-color: #ffffff;
  border: 2px solid #ff5757;
}

.subscribe-button {
  width: 200px;
  min-height: 60px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: 3px solid #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  box-sizing: border-box;
}

.subscribe-button:hover {
  background-color: #68a2ca;
  border: 3px solid #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  outline: none;
}

.subscribe-button:active {
  background-color: #68a2ca;
  border: 3px solid #68a2ca;
}

.subscribe-button:active span {
  opacity: 0.3;
}

.subscribe-button:disabled {
  opacity: 0.3;
}

.page-footer {
  display: flex;
  align-items: center;
  padding-left: 62px;
  padding-top: 28px;
  padding-right: 62px;
  padding-bottom: 30px;
  min-height: 120px;
  background-color: #ffffff;
}

.socials-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  padding: 0;
  margin: 0;
  margin-right: 167px;
  list-style-type: none;
}

.socials-item {
  display: flex;
  height: 40px;
  width: 40px;
  margin-right: 4px;
  cursor: pointer;
}

.social-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: #83b3d3;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus {
  color: #68a2ca;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.social-link:active {
  box-shadow: none;
  color: #68a2ca;
  opacity: 0.3;
}

.social-link:disabled {
  opacity: 0.3;
}

.phone {
  display: block;
  width: 360px;
  padding: 10px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.phone:hover {
  color: #756257;
}

.phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.phone:active {
  box-shadow: none;
  opacity: 0.3;
}

.phone:disabled {
  opacity: 0.3;
}

.copyright {
  display: block;
  padding: 10px;
  margin-left: auto;
  color: #000000;
}

.copyright:hover {
  color: #756257;
}

.copyright:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.copyright:active {
  box-shadow: none;
  opacity: 0.3;
}

.copyright:disabled {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 100;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  width: 715px;
  min-height: 561px;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-top {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.modal-close-button {
  display: flex;
  width: 53px;
  height: 53px;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #f2f2f2;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  border: 3px solid #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  border: 3px solid #e6e6e6;
}

.modal-close-button svg {
  margin: auto;
}

.modal-close-button:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.parameters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.parameters-item {
  position: relative;
  display: flex;
  margin: 0;
  align-items: center;
}

.parameters-group-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.parameters-group-wrapper .parameters-item {
  width: 287px;
  margin-bottom: 20px;
}

.parameters-label {
  display: block;
  width: 155px;
  line-height: 26px;
  font-weight: bold;
}

.parameters-label[for="children"] {
  padding-left: 48px;
}

.parameters-input {
  padding: 8px;
  padding-left: 20px;
  width: 420px;
  height: 50px;
  color: inherit;
  font-size: 18px;
  text-transform: inherit;
  line-height: 26px;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;
}

.parameters-input:hover {
  border: 2px solid #e6e6e6;
  background-color: #e6e6e6;
}

.parameters-input:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.parameters-input:active {
  border: 2px solid #000000;
  background-color: #ffffff;
}

.parameters-input:disabled {
  opacity: 0.3;
}

.parameters-input[type="number"] {
  padding: 7px 40px;
  width: 133px;
  height: 50px;
  text-align: center;
}

.parameters-input[type="number"]::-webkit-inner-spin-button,
.parameters-input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.calendar {
  position: absolute;
  right: 17px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1;
}

.message {
  display: block;
  margin-left: 155px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.message-error {
  color: #ff5757;
}

.minus,
.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 4px;
}

.minus path,
.plus path {
  fill: rgb(0, 0, 0, 0.3);
}

.minus:hover path,
.plus:hover path {
  fill: #000000;
}

.minus:focus,
.plus:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.minus:active path,
.plus:active path {
  fill: rgb(0, 0, 0, 0.2);
}

.minus {
  left: 170px;
}

.plus {
  right: 15px;
}

.info {
  position: relative;
  padding: 0 12px;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  cursor: pointer;
}

.info::after {
  content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
  position: absolute;
  left: -125px;
  top: 41px;
  width: 217px;
  padding: 15px 18px 18px 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
}

.info:hover::after,
.info:hover::before {
  opacity: 1;
  visibility: visible;
}

.info::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 127%;
  width: 19px;
  height: 9px;
  background-image: url("../img/icons/triangle-black.svg");
  visibility: hidden;
}

.modal-button {
  display: block;
  margin-top: 20px;
  width: 575px;
  height: 60px;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  background-color: #83b3d3;
  border: 3px solid #83b3d3;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-button:hover {
  background-color: #68a2ca;
  border: 3px solid #68a2ca;
}

.modal-button:focus {
  border: 3px solid #756257;
}

.modal-button:active {
  opacity: 0.3;
  border: 3px solid #68a2ca;
}
.modal-button:active span {
  opacity: 0.3;
}

.modal-button:disabled {
  opacity: 0.3;
}

/* Страница Гостиницы */

.inner-container {
  padding: 0 70px;
}

.hotels-filter {
  height: 100%;
  padding-bottom: 73px;
  overflow: hidden;
  background-color: #83b4d2;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.title {
  margin: 32px 0;
  margin-bottom: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
}

.breadcrumbs-link {
  padding: 3px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.home-link {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 11px;
  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.next-arr {
  display: block;
  width: 5px;
  height: 8px;
  margin-right: 10px;
  background-image: url("../img/icons/nav-link.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.infrastructure {
  width: 150px;
  margin-right: 67px;
}

.accommodation {
  width: 411px;
}

.cost-wrapper {
  display: flex;
  width: 287px;
  margin-right: 81px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.cost {
  margin-left: 100px;
}

.catalog-filter-title {
  margin-bottom: 34px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -14px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control:hover .control-mark {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 10px;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-label {
  display: flex;
  align-items: baseline;
  width: 50%;
  padding-right: 14px;
}

.catalog-filter-label:hover {
  opacity: 0.6;
}

.catalog-filter-label:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-label:active {
  background-color: #756257;
}

.catalog-filter-label:active span {
  background-color: #756257;
}

.catalog-filter-label:disabled {
  opacity: 0.3;
}

.catalog-filter-label-min {
  border-right: 2px solid #ffffff;
}

.catalog-filter-label span {
  margin-left: auto;
  opacity: 0.3;
}

.catalog-filter-input {
  width: 100px;
  height: 48px;
  padding: 10px 17px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  appearance: textfield;
}

.catalog-filter-input:hover {
  border: 2px solid #ffffff;
  opacity: 0.6;
}

.catalog-filter-input:focus {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 4px 0px 0px 4px;
  outline: none;
}

.catalog-filter-input:active {
  opacity: 0.3;
  outline: none;
  background: #756257;
  border: 2px solid #ffffff;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-input::-webkit-inner-spin-button,
.catalog-filter-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.range-toggle-group {
  display: flex;
}

.catalog-buttongroup {
  padding: 0;
  margin: 0;
  padding-top: 60px;
}

.apply-button {
  width: 160px;
  min-height: 48px;
  padding: 10px 30px 10px 30px;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #68a2ca;
}

.apply-button:focus {
  outline: none;
  border: 3px solid #ffffff;
}

.apply-button:active {
  outline: none;
}

.apply-button:active span {
  opacity: 0.3;
}

.apply-button:disabled {
  opacity: 0.3;
}

.reset-button {
  width: 160px;
  min-height: 48px;
  padding: 10px 30px 10px 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  opacity: 0.3;
  outline: none;
  border: none;
}

.sorting {
  padding-top: 15px;
}

.sorting-inner-container {
  display: flex;
  align-items: center;
}

.sorting-result,
.sorting-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-result {
  margin-right: auto;
}

.select-control {
  width: 100%;
  min-height: 48px;
  padding: 8px 14px;
  padding-right: 48px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  color: #333333;
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #83b3d3;
  outline: none;
}

.select-control:active option {
  border-color: #e6e6e6;
}

.select-control:disabled {
  opacity: 0.3;
}

.type-hotels-control {
  width: 287px;
  margin-right: 81px;
}

.view-results {
  width: 48px;
  min-height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.view-results:not(:last-of-type) {
  margin-right: 8px;
}

.view-results-active {
  border: 2px solid #000000;
}

.view-results:hover,
.view-results:focus {
  border-color: #83b3d3;
  outline: none;
}

.view-results:active {
  border: 2px solid #000000;
}

.view-results:disabled {
  opacity: 0.3;
}

.table-view {
  background-image: url("../img/icons/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slideshow-view {
  background-image: url("../img/icons/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.list-view {
  background-image: url("../img/icons/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.search-results {
  padding-left: 0;
  list-style-type: none;
}

.search-results-item {
  display: flex;
  padding: 29px 0;
  border-bottom: 1px solid #e6e6e6;
}

.search-results-item:first-child {
  border-top: 1px solid #e6e6e6;
}

.search-results-image {
  margin-right: 37px;
}

.search-results-image img {
  height: 100%;
  object-fit: cover;
}

.search-results-image:hover {
  opacity: 0.6;
}

.search-results-image:focus {
  outline: 3px solid #83b3d3;
}

.search-results-image:active {
  opacity: 0.3;
}

.search-results-image:disabled {
  opacity: 0.3;
}

.search-results-info {
  width: 320px;
}

.results-info-title {
  margin-top: 0;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: inherit;
}

.results-info-title:hover {
  color: #756257;
}

.results-info-title:focus {
  outline: 3px solid #83b3d3;
}

.results-info-title:active {
  opacity: 0.3;
}

.results-info-title:disabled {
  opacity: 0.3;
}

.results-blocks {
  display: flex;
}

.left-block {
  display: flex;
  flex-direction: column;
}

.left-block span {
  margin-bottom: 31px;
}

.more {
  padding: 10px 30px 10px 30px;
  margin-right: 8px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.more:hover {
  background-color: #615048;
}

.more:focus {
  outline: 3px solid #756257;
}

.more:active span {
  opacity: 0.3;
}

.more:disabled {
  opacity: 0.3;
}

.right-block {
  display: flex;
  flex-direction: column;
}

.right-block span {
  margin-bottom: 31px;
}

.favorities {
  padding: 10px 30px 10px 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.favorities:hover {
  background-color: #68a2ca;
}

.favorities:focus {
  outline: 3px solid #756257;
}

.favorities:active span {
  opacity: 0.3;
}

.favorities:disabled {
  opacity: 0.3;
}

.in-selected {
  background-color: #7db54f;
}

.in-selected:hover {
  background-color: #6c9e42;
}

.in-selected:focus {
  outline: 3px solid #756257;
}

.in-selected:active span {
  opacity: 0.3;
}

.search-results-rating {
  margin-left: auto;
}

.stars {
  display: flex;
  justify-content: center;
  width: 155px;
  margin-bottom: 63px;
}

.star {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("../img/icons/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.star:last-child {
  margin-right: 0;
}

.rating-value {
  padding: 10px 30px 10px 30px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.upload-btn {
  width: 625px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.upload-more {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-more:hover {
  background-color: #68a2ca;
}

.upload-more:focus {
  outline: 3px solid #756257;
}

.upload-more:active span {
  opacity: 0.3;
}

.upload-more:disabled {
  opacity: 0.3;
}

.pagination {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin-left: 5px;
  background-color: #83b3d3;
}

.pagination-item:hover {
  background-color: #68a2ca;
}

.pagination-item:focus {
  border-color: #756257;
}

.pagination-item:active .pagination-link {
  opacity: 0.3;
}

.pagination-item:disabled {
  opacity: 0.3;
}

.pagination-link {
  padding: 15px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.current {
  background-color: #f2f2f2;
}

.current-link {
  color: #000000;
}

.select-control-count {
  width: 160px;
}

.results-count {
  display: flex;
  margin-left: auto;
}

.results-count span {
  align-self: center;
  margin-right: 50px;
}

.catalog-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.subscription-inner {
  text-align: center;
  padding-top: 83px;
  padding-bottom: 148px;
  background: #ffffff;
}

.inner-subscription-title {
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #000000;
}

.inner-subscription-text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 42px;
  color: #333333;
}

.inner-subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  justify-content: center;
}
